div.first
{background-color:#e3f6f5;
height: 400px;
margin-left: 50px;
margin-right: 50px;
margin-top: 50px;}
img
{
    height:300px;
    width:300px;
    margin-left: 900px;
    margin-top: -280px;
}
div.form-group
{
   width:600px; 
   margin-left: 20px;
}