body{

    background-image: url("img/jj.jpg");
    background-repeat: no-repeat;
}
div.jumbotron
{
margin-top: 50px;
margin-left: 600px;
background-color: #e3f6f5;
width :700px;
height:700px;
}

h3
{
    margin-left: 760px;
}